<!-- V0.1 -->
<!-- V0.2 switched to inline SVG paths, added outline option-->

<template>
    <svg width="45px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 45 45">
        <!--background-->
        <path v-if="outline" fill="var(--iconForeColor)" 
        d="M 22.5 0 A 22.5 22.5 0 0 0 0 22.5 A 22.5 22.5 0 0 0 22.5 45 A 22.5 22.5 0 0 0 45 22.5 A 22.5 22.5 0 0 0 22.5 0 z M 22.476562 2.25 A 20.250002 20.250002 0 0 1 22.5 2.25 A 20.250002 20.250002 0 0 1 42.75 22.5 A 20.250002 20.250002 0 0 1 22.5 42.75 A 20.250002 20.250002 0 0 1 2.25 22.5 A 20.250002 20.250002 0 0 1 22.476562 2.25 z "/>
 
        <!--contour-->
        <path v-if="background" fill="var(--iconBgColor)" 
        d="M 22.476562 2.25 A 20.250002 20.250002 0 0 0 2.25 22.5 A 20.250002 20.250002 0 0 0 22.5 42.75 A 20.250002 20.250002 0 0 0 42.75 22.5 A 20.250002 20.250002 0 0 0 22.5 2.25 A 20.250002 20.250002 0 0 0 22.476562 2.25 z  "/>
        
        <!--floppy-->
        <path v-if="icon==='floppy'" fill="var(--iconForeColor)" 
        d="M 13.056641 10.808594 C 12.257699 10.808594 11.613281 11.451057 11.613281 12.25 L 11.613281 32.75 C 11.613281 33.548942 12.257699 34.191406 13.056641 34.191406 L 32.521484 34.191406 C 33.320426 34.191406 33.962891 33.548942 33.962891 32.75 L 33.962891 13.445312 L 31.324219 10.808594 L 30.517578 10.808594 L 30.517578 11.232422 C 30.517578 11.316112 30.448928 11.384766 30.365234 11.384766 L 29.710938 11.384766 C 29.627248 11.384766 29.558594 11.316115 29.558594 11.232422 L 29.558594 10.808594 L 28.697266 10.808594 L 28.697266 18.375 C 28.697266 18.615495 28.504166 18.810547 28.263672 18.810547 L 17.355469 18.810547 C 17.114974 18.810547 16.921875 18.615494 16.921875 18.375 L 16.921875 10.808594 L 16.066406 10.808594 L 16.066406 11.232422 C 16.066406 11.316112 15.999707 11.384766 15.916016 11.384766 L 14.113281 11.384766 C 14.029591 11.384766 13.962891 11.316115 13.962891 11.232422 L 13.962891 10.808594 L 13.056641 10.808594 z M 24.1875 11.712891 C 24.036919 11.712892 23.916016 11.835744 23.916016 11.986328 L 23.916016 17.212891 C 23.916016 17.363471 24.036919 17.484375 24.1875 17.484375 L 26.300781 17.484375 C 26.451361 17.484375 26.572266 17.363471 26.572266 17.212891 L 26.572266 11.986328 C 26.572266 11.835748 26.451365 11.712891 26.300781 11.712891 L 24.1875 11.712891 z M 14.763672 20.681641 L 30.824219 20.681641 C 31.064714 20.681641 31.257812 20.87474 31.257812 21.115234 L 31.257812 31.601562 C 31.257812 31.842057 31.064713 32.037109 30.824219 32.037109 L 14.763672 32.037109 C 14.523177 32.037109 14.330078 31.842056 14.330078 31.601562 L 14.330078 21.115234 C 14.330078 20.874739 14.523178 20.681641 14.763672 20.681641 z M 21.230469 22.263672 C 21.141729 22.26367 21.070312 22.335089 21.070312 22.423828 L 21.070312 27.115234 L 19.828125 27.115234 L 22.882812 30.494141 L 25.9375 27.115234 L 24.695312 27.115234 L 24.695312 22.423828 C 24.695312 22.335089 24.623896 22.263672 24.535156 22.263672 L 21.230469 22.263672 z M 32.210938 31.052734 L 32.867188 31.052734 C 32.950877 31.052734 33.019531 31.119434 33.019531 31.203125 L 33.019531 31.886719 C 33.019531 31.970409 32.950881 32.037109 32.867188 32.037109 L 32.210938 32.037109 C 32.127248 32.037109 32.060547 31.97041 32.060547 31.886719 L 32.060547 31.203125 C 32.060547 31.119435 32.127247 31.052734 32.210938 31.052734 z "/>

        <!--Telegram-->
        <path v-else-if="icon==='telegram'" fill="var(--iconForeColor)" 
        d="M 33.638672,9.9101562 C 27.357067,12.175784 17.394502,16.498526 9.5390625,19.830078 8.9154348,20.094579 8.6530734,20.23285 8.3867188,20.443359 c -0.5710065,0.451293 -0.8623087,1.133007 -0.75,1.748047 0.1290757,0.707197 0.5660008,1.260028 1.3085937,1.652344 2.0263185,0.760238 3.4210895,1.200723 5.6386715,1.945312 l 0.113282,0.363282 c 0.662828,2.155887 1.314715,4.360869 2.054687,6.574218 0.256638,0.580298 0.622664,0.99602 1.009766,1.142579 0.308091,0.116522 0.773981,0.141075 1.064453,0.05664 1.351029,-0.725649 2.464839,-1.965474 3.736328,-3.11914 0.02208,-0.0082 0.684398,0.4956 4.246094,3.226562 0.548764,0.420782 1.074961,0.798156 1.169922,0.839844 0.09499,0.04176 0.318632,0.107971 0.498046,0.146484 0.664702,0.142677 1.255628,0.07246 1.88086,-0.224609 0.279197,-0.132654 0.784276,-0.635878 0.992187,-0.988281 0.860031,-3.389222 1.888079,-9.098473 2.826172,-13.908203 0.462123,-2.58359 1.122801,-5.303291 1.476563,-7.923829 -0.0011,-0.642207 -0.180302,-1.112936 -0.574219,-1.511718 -0.217708,-0.22038 -0.555266,-0.413159 -0.884766,-0.5058598 -0.09442,-0.026559 -0.343601,-0.047762 -0.554687,-0.046875 z m -0.265625,2.2617188 c 0.05978,-0.01425 0.08115,-0.0087 0.08398,0.0078 -1.190669,5.437017 -2.622199,13.931028 -4.054687,20.65039 -0.05291,0.0731 -0.109891,0.09873 -0.238282,0.107422 -2.115046,-1.206796 -4.380203,-3.248663 -6.710937,-4.935547 -1.380605,1.208131 -2.512783,2.314616 -3.837891,3.451172 0.277483,-1.809552 0.52645,-3.381186 0.800785,-5.126953 l 0.222656,-0.208984 c 3.517172,-3.372265 6.568285,-5.982362 10.429687,-9.759766 0.07782,-0.112172 0.07521,-0.352466 -0.0059,-0.433594 -0.08615,-0.08615 -0.336802,-0.0571 -0.578125,0.06641 -4.898552,3.012219 -8.313998,5.122955 -13.132813,8.125 -2.237754,-0.774832 -4.05222,-1.358796 -6.294921,-2.146484 8.311412,-3.351231 15.813273,-6.796297 23.316406,-9.796875 z"/>

         <!--Spotify-->
        <path v-else-if="icon==='spotify'" fill="var(--iconForeColor)" 
        d="M 19.361328 12.953125 C 15.895769 12.987586 12.649557 13.475649 10.068359 14.320312 A 1.8897638 1.8897638 0 0 0 8.8574219 16.697266 A 1.8897638 1.8897638 0 0 0 11.242188 17.908203 C 16.691596 16.124955 28.12143 16.46812 34.503906 20.263672 A 1.8897638 1.8897638 0 0 0 37.09375 19.605469 A 1.8897638 1.8897638 0 0 0 36.4375 17.015625 C 32.51092 14.680554 27.634813 13.447211 22.884766 13.074219 C 21.697254 12.980971 20.516514 12.941638 19.361328 12.953125 z M 19.638672 19.898438 C 16.276486 19.888361 13.332965 20.432259 11.234375 21.052734 A 1.6346457 1.6346457 0 0 0 10.134766 23.083984 A 1.6346457 1.6346457 0 0 0 12.166016 24.183594 C 16.244608 22.977706 24.650709 22.085709 32.111328 26.494141 A 1.6346457 1.6346457 0 0 0 34.355469 25.917969 A 1.6346457 1.6346457 0 0 0 33.779297 23.673828 C 29.513719 21.153325 25.074746 20.142992 21.105469 19.939453 C 20.609309 19.914011 20.118984 19.899877 19.638672 19.898438 z M 19.765625 26.462891 C 17.235387 26.444268 14.615503 26.764135 11.958984 27.371094 A 1.303937 1.303937 0 0 0 10.976562 28.9375 A 1.303937 1.303937 0 0 0 12.541016 29.912109 C 19.177015 28.395923 25.212743 28.844476 30.066406 31.830078 A 1.303937 1.303937 0 0 0 31.859375 31.410156 A 1.303937 1.303937 0 0 0 31.431641 29.615234 C 28.643054 27.899909 25.549614 26.931487 22.263672 26.597656 C 21.442186 26.514199 20.609038 26.469098 19.765625 26.462891 z "/>

         <!--Facebook-->
        <path v-else-if="icon==='facebook'" fill="var(--iconForeColor)" 
        d="M 24.173828 11.349609 C 23.258464 11.352444 22.092878 11.956529 21.412109 12.568359 C 20.733297 13.178347 19.955296 14.618693 19.941406 15.53125 C 19.915894 17.154396 19.941406 19.636719 19.941406 19.636719 L 16.628906 19.636719 L 16.628906 23.898438 L 19.941406 23.898438 L 19.941406 33.652344 L 24.173828 33.652344 L 24.173828 23.898438 L 28.039062 23.898438 L 28.039062 19.636719 L 24.173828 19.636719 L 24.173828 15.091797 L 28.371094 15.091797 L 28.371094 11.349609 C 28.371094 11.349609 25.734358 11.34394 24.173828 11.349609 z "/>

        <!--Twitter-->
        <path v-else-if="icon==='twitter'" fill="var(--iconForeColor)" 
        d="M 27.904297 11.613281 C 24.858829 11.481798 21.636406 13.824657 22.228516 18.363281 C 18.538544 18.135858 14.814099 17.148219 10.921875 12.623047 C 9.5793585 14.819019 9.9434702 17.86088 12.613281 19.988281 C 11.780604 19.918351 10.94794 19.795036 10.115234 19.296875 C 10.189644 20.852585 10.838297 23.759693 14.455078 24.726562 C 13.715151 24.903444 12.944206 25.02431 11.990234 24.808594 C 13.176335 27.5042 14.967694 28.601252 17.164062 28.626953 C 15.087288 30.237599 12.574712 31.219519 9.2011719 30.957031 C 18.652221 37.147444 33.274531 31.178202 33.0625 17.089844 C 34.023388 16.32894 34.979476 15.545704 35.798828 14.21875 C 34.838084 14.657156 33.816052 14.958596 32.710938 15.072266 C 33.850522 14.371116 34.676377 13.313039 35.09375 11.998047 C 34.050941 12.607893 32.956252 13.152287 31.574219 13.351562 C 30.638077 12.243801 29.2886 11.673046 27.904297 11.613281 z "/>

        <!--Youtube-->
        <path v-else-if="icon==='youtube'" fill="var(--iconForeColor)" 
        d="M 14.804688 13.570312 C 12.288962 13.570312 10.263672 15.357974 10.263672 17.578125 L 10.263672 27.421875 C 10.263672 29.642027 12.288962 31.429688 14.804688 31.429688 L 30.195312 31.429688 C 32.710962 31.429688 34.736328 29.642027 34.736328 27.421875 L 34.736328 17.578125 C 34.736328 15.357974 32.710962 13.570312 30.195312 13.570312 L 14.804688 13.570312 z M 20.087891 17.8125 L 26.972656 22.205078 L 20.087891 26.597656 L 20.087891 22.205078 L 20.087891 17.8125 z "/>

        <!--Buridda-->
        <path v-else-if="icon==='buridda'" fill="var(--iconForeColor)" 
        d="M 22.498047 8.7109375 C 22.242396 8.7109375 21.990933 8.7177829 21.740234 8.734375 L 21.367188 8.765625 C 16.462721 9.2488281 12.654297 12.856284 12.654297 17.910156 C 12.654297 20.895377 13.981393 23.571268 16.080078 25.376953 L 16.150391 25.498047 C 16.150391 25.498047 16.542969 25.90546 16.542969 26.589844 C 16.512733 26.932254 16.518428 29.165293 14.357422 29.142578 C 14.357422 29.142578 12.932154 29.204323 12.388672 28.019531 C 12.388672 28.019531 12.080078 27.365288 12.039062 27.007812 C 12.039062 27.007812 11.742143 25.478978 10.117188 25.482422 C 10.117188 25.482422 8.3967468 25.670049 8.3886719 26.482422 C 8.3886719 26.482422 8.4043234 26.850813 8.78125 26.892578 C 8.9697275 26.913819 9.7695312 26.724609 9.7695312 26.724609 C 10.58158 26.587908 10.796875 27.828125 10.796875 27.828125 C 10.859744 28.377634 11.423828 29.5625 11.423828 29.5625 C 12.258695 31.383469 14.335938 31.482422 14.335938 31.482422 L 14.578125 31.486328 C 14.578125 31.486328 15.677081 31.382039 15.3125 32.083984 C 15.3125 32.083984 14.856854 32.981266 15.3125 33.080078 C 15.766962 33.18084 15.947681 32.78263 16.404297 32.482422 L 16.404297 32.480469 C 16.404297 32.480469 16.605361 32.305961 16.726562 32.511719 C 16.726562 32.511719 16.930313 32.844109 16.494141 33.482422 C 16.221055 33.882421 15.951404 34.479224 14.037109 35.080078 C 14.037109 35.080078 12.777286 35.341986 12.972656 35.837891 C 12.972656 35.837891 12.971455 35.913811 13.28125 36.050781 C 13.516662 36.157893 14.070312 36.25 14.070312 36.25 C 18.519561 36.760648 19.402344 32.082031 19.402344 32.082031 L 19.410156 32.083984 C 19.410156 32.083984 19.684078 30.087155 20.230469 32.181641 C 20.230469 32.181641 20.416016 33.280931 20.416016 33.78125 C 20.416016 34.281459 20.685002 34.779089 21.048828 34.28125 C 21.413949 33.781041 21.780106 33.080877 21.867188 32.181641 C 21.867188 32.181641 22.215614 31.344692 22.5 31.367188 C 22.784387 31.34451 23.132813 32.181641 23.132812 32.181641 C 23.219991 33.080877 23.586051 33.781041 23.951172 34.28125 C 24.314891 34.779089 24.583984 34.281459 24.583984 33.78125 C 24.583984 33.280931 24.769531 32.181641 24.769531 32.181641 C 25.316028 30.087155 25.589844 32.083984 25.589844 32.083984 L 25.597656 32.082031 C 25.597656 32.082031 26.480221 36.760648 30.929688 36.25 C 30.929688 36.25 31.483229 36.157893 31.71875 36.050781 C 32.028558 35.913887 32.027344 35.837891 32.027344 35.837891 C 32.222821 35.341986 30.962891 35.080078 30.962891 35.080078 C 29.048488 34.479224 28.77884 33.882421 28.505859 33.482422 C 28.069695 32.844109 28.273438 32.511719 28.273438 32.511719 C 28.394435 32.305999 28.595703 32.480469 28.595703 32.480469 L 28.595703 32.482422 C 29.052104 32.78263 29.233038 33.180833 29.6875 33.080078 C 30.143258 32.981281 29.6875 32.083984 29.6875 32.083984 C 29.322927 31.382054 30.421875 31.486328 30.421875 31.486328 L 30.664062 31.482422 C 30.664062 31.482422 32.739351 31.383488 33.574219 29.5625 C 33.574219 29.5625 34.140264 28.377634 34.203125 27.828125 C 34.203125 27.828125 34.418313 26.587905 35.230469 26.724609 C 35.230469 26.724609 36.030378 26.913804 36.21875 26.892578 C 36.59572 26.850803 36.611328 26.482422 36.611328 26.482422 C 36.603013 25.670052 34.882812 25.482422 34.882812 25.482422 C 33.257858 25.479053 32.958984 27.007813 32.958984 27.007812 C 32.918317 27.365288 32.611328 28.019531 32.611328 28.019531 C 32.067738 29.204342 30.642578 29.142578 30.642578 29.142578 C 28.481675 29.165255 28.487279 26.932252 28.457031 26.589844 C 28.457031 25.90546 28.849609 25.498047 28.849609 25.498047 L 28.914062 25.376953 C 31.01404 23.571053 32.34375 20.896346 32.34375 17.910156 C 32.34375 17.483573 32.318085 17.066949 32.265625 16.662109 L 32.232422 16.439453 C 31.516001 11.806568 27.43093 8.7109375 22.498047 8.7109375 z M 17 15.554688 C 17.805482 15.554688 18.458984 16.208193 18.458984 17.013672 C 18.458984 17.819153 17.805482 18.470703 17 18.470703 C 16.194627 18.470703 15.541016 17.819153 15.541016 17.013672 C 15.541016 16.208193 16.194627 15.554688 17 15.554688 z M 27.988281 15.554688 C 28.793652 15.554688 29.447266 16.208193 29.447266 17.013672 C 29.447266 17.819153 28.793652 18.470703 27.988281 18.470703 C 27.182908 18.470703 26.529297 17.819153 26.529297 17.013672 C 26.529297 16.208193 27.182908 15.554688 27.988281 15.554688 z M 22.5 19.017578 C 23.816454 19.017578 24.882813 20.083934 24.882812 21.400391 C 24.882812 22.716844 23.816454 23.785156 22.5 23.785156 C 21.183437 23.785156 20.115234 22.716844 20.115234 21.400391 C 20.115234 20.083934 21.183437 19.017578 22.5 19.017578 z M 22.498047 20.115234 C 21.788259 20.115234 21.214844 20.69082 21.214844 21.400391 C 21.214844 22.110179 21.788259 22.685547 22.498047 22.685547 C 23.207833 22.685547 23.783203 22.110179 23.783203 21.400391 C 23.783203 20.69082 23.207833 20.115234 22.498047 20.115234 z "/>

        <!--Instagram-->
        <path v-else-if="icon==='instagram'" fill="var(--iconForeColor)" 
        d="M 17.841797 11.074219 C 14.113259 11.074219 11.074219 14.113259 11.074219 17.841797 L 11.074219 27.150391 C 11.074219 30.87893 14.113259 33.927734 17.841797 33.927734 L 27.150391 33.927734 C 30.87893 33.927734 33.927734 30.87893 33.927734 27.150391 L 33.927734 17.841797 C 33.927734 14.113259 30.87893 11.074219 27.150391 11.074219 L 17.841797 11.074219 z M 17.841797 13.908203 L 27.150391 13.908203 C 29.357568 13.908203 31.09375 15.63462 31.09375 17.841797 L 31.09375 27.150391 C 31.09375 29.357568 29.357568 31.09375 27.150391 31.09375 L 17.841797 31.09375 C 15.634621 31.09375 13.908203 29.357568 13.908203 27.150391 L 13.908203 17.841797 C 13.908203 15.63462 15.634621 13.908203 17.841797 13.908203 z M 28.302734 15.435547 C 27.587961 15.435547 27.003906 16.027414 27.003906 16.742188 C 27.003907 17.456961 27.587961 18.041015 28.302734 18.041016 C 29.017507 18.041015 29.601562 17.45696 29.601562 16.742188 C 29.601562 16.027414 29.017507 15.435548 28.302734 15.435547 z M 28.302734 15.982422 C 28.723521 15.982422 29.054688 16.321403 29.054688 16.742188 C 29.054688 17.162972 28.723521 17.496093 28.302734 17.496094 C 27.88195 17.496094 27.548828 17.162972 27.548828 16.742188 C 27.548828 16.321402 27.88195 15.982422 28.302734 15.982422 z M 22.566406 17.148438 C 19.586689 17.148438 17.148438 19.586689 17.148438 22.566406 C 17.148438 25.546123 19.586689 27.984375 22.566406 27.984375 C 25.546123 27.984375 27.984375 25.546123 27.984375 22.566406 C 27.984375 19.586689 25.546124 17.148438 22.566406 17.148438 z M 22.566406 19.414062 C 24.320559 19.414062 25.71875 20.812254 25.71875 22.566406 C 25.71875 24.320559 24.320559 25.71875 22.566406 25.71875 C 20.812254 25.71875 19.414063 24.320558 19.414062 22.566406 C 19.414062 20.812254 20.812254 19.414063 22.566406 19.414062 z "/>

         <!--Link-->
        <path v-else-if="icon==='link'" fill="var(--iconForeColor)" 
        d="M 22.427734 14.566406 L 23.597656 17.519531 C 19.74451 18.500964 16.028548 20.559679 12.380859 23.15625 L 16.171875 29.152344 C 18.783564 25.366707 22.083104 23.661457 25.509766 22.34375 L 26.695312 25.337891 L 33.865234 17.197266 L 22.427734 14.566406 z "/>

        <!--Play-->
        <path v-else-if="icon==='play'" fill="var(--iconForeColor)" 
        d="M 15.957031 12.25 L 15.957031 32.75 L 33.628906 22.5 L 15.957031 12.25 z "/>

        <!--Pausa-->
        <path v-else-if="icon==='pause'" fill="var(--iconForeColor)" 
        d="M 14.541016 12.25 L 14.541016 32.75 L 19.847656 32.75 L 19.847656 12.25 L 14.541016 12.25 z M 25.152344 12.25 L 25.152344 32.75 L 30.458984 32.75 L 30.458984 12.25 L 25.152344 12.25 z "/>

        <!--Stop-->
        <path v-else-if="icon==='stop'" fill="var(--iconForeColor)" 
        d="M 14.253906 14.253906 L 14.253906 30.746094 L 30.746094 30.746094 L 30.746094 14.253906 L 14.253906 14.253906 z "/>

         <!--Up-->
        <path v-else-if="icon==='up'" fill="var(--iconForeColor)" 
        d="M 22.5 13.082031 L 10.054688 24.751953 A 2.076378 2.076378 0 0 0 9.9589844 27.681641 A 2.076378 2.076378 0 0 0 12.888672 27.779297 L 22.5 18.773438 L 32.111328 27.779297 A 2.076378 2.076378 0 0 0 35.042969 27.681641 A 2.076378 2.076378 0 0 0 34.947266 24.751953 L 22.5 13.082031 z  "/>

        <!--Down-->
        <path v-else-if="icon==='down'" fill="var(--iconForeColor)" 
        d="M 11.458984 16.660156 A 2.076378 2.076378 0 0 0 11.382812 16.662109 A 2.076378 2.076378 0 0 0 9.9589844 17.310547 A 2.076378 2.076378 0 0 0 10.054688 20.25 L 22.5 31.919922 L 34.947266 20.25 A 2.076378 2.076378 0 0 0 35.042969 17.310547 A 2.076378 2.076378 0 0 0 32.111328 17.222656 L 22.5 26.228516 L 12.888672 17.222656 A 2.076378 2.076378 0 0 0 11.458984 16.660156 z  "/>

        <!--Clock-->
        <path v-else-if="icon==='clock' || icon==='calendar'" fill="var(--iconForeColor)" 
        d="M 21.671875 7.6972656 L 21.671875 10.007812 A 12.519713 12.519713 0 0 1 22.5 9.9804688 A 12.519713 12.519713 0 0 1 23.328125 10.007812 L 23.328125 7.6972656 L 21.671875 7.6972656 z M 15.515625 9.4414062 L 14.683594 9.921875 L 15.830078 11.90625 A 12.519713 12.519713 0 0 1 16.662109 11.425781 L 15.515625 9.4414062 z M 29.484375 9.4414062 L 28.337891 11.425781 A 12.519713 12.519713 0 0 1 29.169922 11.90625 L 30.316406 9.921875 L 29.484375 9.4414062 z M 27.214844 13.800781 L 22.480469 20.664062 A 1.8357272 1.8357272 0 0 0 20.664062 22.5 A 1.8357272 1.8357272 0 0 0 22.5 24.335938 A 1.8357272 1.8357272 0 0 0 24.335938 22.501953 L 35.492188 18.869141 L 35.123047 17.736328 L 24.695312 21.130859 L 28.933594 14.986328 L 27.214844 13.800781 z M 9.921875 14.683594 L 9.4414062 15.515625 L 11.425781 16.662109 A 12.519713 12.519713 0 0 1 11.90625 15.830078 L 9.921875 14.683594 z M 35.078125 14.683594 L 33.09375 15.830078 A 12.519713 12.519713 0 0 1 33.574219 16.662109 L 35.558594 15.515625 L 35.078125 14.683594 z M 7.6972656 21.671875 L 7.6972656 23.328125 L 10.007812 23.328125 A 12.519713 12.519713 0 0 1 9.9804688 22.5 A 12.519713 12.519713 0 0 1 10.007812 21.671875 L 7.6972656 21.671875 z M 34.992188 21.671875 A 12.519713 12.519713 0 0 1 35.019531 22.5 A 12.519713 12.519713 0 0 1 34.992188 23.328125 L 37.302734 23.328125 L 37.302734 21.671875 L 34.992188 21.671875 z M 11.425781 28.337891 L 9.4414062 29.484375 L 9.921875 30.316406 L 11.90625 29.169922 A 12.519713 12.519713 0 0 1 11.425781 28.337891 z M 33.574219 28.337891 A 12.519713 12.519713 0 0 1 33.09375 29.169922 L 35.078125 30.316406 L 35.558594 29.484375 L 33.574219 28.337891 z M 15.830078 33.09375 L 14.683594 35.078125 L 15.515625 35.558594 L 16.662109 33.574219 A 12.519713 12.519713 0 0 1 15.830078 33.09375 z M 29.169922 33.09375 A 12.519713 12.519713 0 0 1 28.337891 33.574219 L 29.484375 35.558594 L 30.316406 35.078125 L 29.169922 33.09375 z M 21.671875 34.992188 L 21.671875 37.302734 L 23.328125 37.302734 L 23.328125 34.992188 A 12.519713 12.519713 0 0 1 22.5 35.019531 A 12.519713 12.519713 0 0 1 21.671875 34.992188 z  "/>

        <!--Megaphone-->
        <path v-else-if="icon==='megaphone'" fill="var(--iconForeColor)" 
        d="M 25.931641 10.863281 C 25.497049 10.863281 25.345831 10.984144 24.839844 11.734375 C 23.293697 14.015903 21.030461 16.734693 17.976562 17.90625 C 17.76226 17.966224 17.576876 18.024687 17.566406 18.035156 C 17.548906 18.052668 18.548761 22.12668 19.232422 24.822266 C 19.362003 25.333241 19.488117 25.83699 19.511719 25.941406 L 19.554688 26.130859 L 19.888672 26.060547 C 23.065954 25.571641 27.405899 27.423866 29.699219 28.611328 C 29.995962 28.684224 30.322625 28.616267 30.521484 28.439453 C 30.667813 28.309337 30.789853 28.007113 30.791016 27.767578 C 30.791597 27.643927 30.535371 26.531295 30.1875 25.142578 C 29.855479 23.817105 29.584089 22.658822 29.583984 22.568359 C 29.583856 22.45086 29.649186 22.29883 29.814453 22.037109 C 30.301183 21.266286 30.484764 20.478016 30.384766 19.585938 C 30.32365 19.040707 30.187843 18.638109 29.900391 18.158203 C 29.565589 17.599228 29.01335 17.101111 28.292969 16.708984 C 28.21533 16.666718 28.118917 16.58332 28.080078 16.523438 C 28.041228 16.463507 27.882631 15.892625 27.726562 15.253906 C 27.168041 12.968087 26.785633 11.488642 26.716797 11.351562 C 26.544402 11.008144 26.311477 10.863281 25.931641 10.863281 z M 32.521484 12.630859 C 32.416202 12.627574 32.308168 12.653169 32.207031 12.714844 C 32.126299 12.764076 31.811739 13.164252 31.466797 13.65625 C 29.833209 15.986269 29.892578 15.891532 29.892578 16.138672 C 29.892578 16.386754 30.004133 16.563247 30.236328 16.681641 C 30.434281 16.783036 30.569159 16.783546 30.771484 16.6875 C 30.892612 16.630024 31.093871 16.378329 31.638672 15.595703 C 33.174562 13.389419 33.120721 13.47425 33.123047 13.285156 C 33.128175 12.914073 32.837332 12.640716 32.521484 12.630859 z M 25.480469 13.980469 C 25.488833 13.969406 25.506756 13.9716 25.519531 13.984375 C 25.53231 13.997143 25.865766 15.311568 26.261719 16.90625 C 26.657659 18.50092 27.003599 19.879332 27.029297 19.96875 C 27.054995 20.058168 27.390566 21.406371 27.775391 22.964844 C 28.160227 24.523328 28.485256 25.834139 28.498047 25.878906 C 28.530279 25.991253 28.460389 25.978247 28.027344 25.789062 C 26.085326 24.951274 23.204618 24.233978 20.707031 24.044922 C 20.66745 23.97262 19.495984 19.263732 19.513672 19.248047 C 21.729643 17.991027 23.537869 16.254346 25.480469 13.980469 z M 35.585938 17.248047 C 35.410026 17.243887 35.049398 17.331953 33.710938 17.664062 C 32.705696 17.913481 31.834109 18.147752 31.775391 18.185547 C 31.620952 18.284884 31.488444 18.527612 31.488281 18.708984 C 31.488073 18.900784 31.639895 19.157467 31.806641 19.248047 C 31.87457 19.284912 31.997635 19.31543 32.080078 19.316406 C 32.250496 19.318523 35.701794 18.471787 35.853516 18.390625 C 36.005619 18.309218 36.13265 18.061936 36.132812 17.849609 C 36.133057 17.587645 35.975155 17.362576 35.730469 17.277344 C 35.683733 17.261059 35.644575 17.249434 35.585938 17.248047 z M 15.998047 18.445312 C 15.982093 18.429359 15.660947 18.492564 15.285156 18.585938 C 11.295377 19.577958 11.541521 19.507929 11.576172 19.630859 C 11.5998 19.714813 12.940903 25.115067 13.275391 26.472656 C 13.379251 26.894213 13.486928 27.316296 13.513672 27.412109 C 13.573102 27.625237 13.607155 27.627704 14.236328 27.472656 C 14.489199 27.410343 14.966691 27.294494 15.298828 27.214844 C 17.087986 26.785879 18.017578 26.541651 18.017578 26.498047 C 18.017171 26.408419 16.027452 18.474717 15.998047 18.445312 z M 10.242188 20.863281 C 10.142641 20.763735 9.4519349 21.477633 9.2226562 21.917969 C 8.5366697 23.23543 8.8690075 25.138051 9.9765625 26.242188 C 10.427538 26.691756 10.996584 26.996356 11.560547 27.089844 C 11.771123 27.124736 11.792969 27.123058 11.792969 27.064453 C 11.792736 26.975767 10.271479 20.892573 10.242188 20.863281 z M 31.8125 21.335938 C 31.758133 21.341067 31.711475 21.358743 31.648438 21.382812 C 31.366242 21.490591 31.237682 21.706927 31.267578 22.017578 C 31.302148 22.377298 31.354836 22.418844 32.208984 22.78125 C 32.49003 22.900482 32.782747 23.026361 32.859375 23.060547 C 33.143677 23.18714 34.675113 23.839228 34.832031 23.900391 C 35.027508 23.976507 35.303031 23.953702 35.464844 23.847656 C 35.62403 23.743331 35.730955 23.475511 35.701172 23.253906 C 35.65409 22.902849 35.581533 22.851228 34.623047 22.455078 C 34.418664 22.370589 33.792537 22.102885 33.230469 21.861328 C 32.215713 21.42524 31.975601 21.320548 31.8125 21.335938 z M 18.457031 28.162109 C 18.375287 28.141583 17.960757 28.223017 17.234375 28.400391 C 15.275613 28.878693 14.02192 29.19683 13.994141 29.224609 C 13.968292 29.250435 14.26804 29.710243 15.169922 31.023438 C 15.897013 32.082143 16.582723 33.084987 16.871094 33.513672 C 17.027663 33.746439 17.217945 33.982459 17.294922 34.037109 C 17.389947 34.104665 17.504496 34.136719 17.652344 34.136719 C 17.899168 34.136719 21.114004 33.338891 21.359375 33.216797 C 21.610933 33.091623 21.706211 32.924664 21.699219 32.625 C 21.692382 32.332315 21.484401 31.831898 21.277344 31.611328 C 21.041577 31.360166 20.566264 31.04123 20.009766 30.761719 C 19.498115 30.504719 19.34021 30.231026 19.232422 29.412109 C 19.204782 29.202203 19.137148 28.92491 19.082031 28.796875 C 18.970962 28.538691 18.647905 28.210015 18.457031 28.162109 z "/>

         <!--Microphone-->
        <path v-else-if="icon==='mic' || icon==='live'" fill="var(--iconForeColor)" 
        d="M 22.5,9.4726562 c -2.735733,0 -4.9375,2.2606428 -4.9375,5.0683598 v 8.060546 c 0,2.807716 2.201767,5.06836 4.9375,5.06836 2.735734,0 4.939453,-2.260644 4.939453,-5.06836 v -8.060546 c 0,-2.807717 -2.203719,-5.0683598 -4.939453,-5.0683598 z M 22.205078,10.916016 V 21.045738 H 21.552734 V 11.03125 c 0.210387,-0.05925 0.427605,-0.09643 0.652344,-0.115234 z m 0.652344,0.0078 c 0.224925,0.02313 0.442217,0.0652 0.652344,0.128906 v 9.993004 h -0.652344 z m -1.957031,0.365234 v 9.756676 h -0.652344 v -9.315269 c 0.200218,-0.171563 0.417578,-0.319282 0.652344,-0.441407 z m 3.261718,0.03711 c 0.234985,0.128553 0.4534,0.280492 0.652344,0.458984 v 9.260582 h -0.652344 z m -4.566406,1.123047 v 8.596519 h -0.619141 v -6.504722 c 0,-0.788442 0.229055,-1.50456 0.619141,-2.091797 z m 5.871094,0.105469 c 0.350592,0.567399 0.558594,1.243711 0.558594,1.986328 v 6.504722 h -0.558594 z m -10.464844,8.5625 v 2.33789 c 0,3.694636 2.649965,6.740151 6.160156,7.363281 v 2.410157 h -3.253906 c -0.526477,0 -0.949219,0.424698 -0.949219,0.951172 v 0.398437 c 0,0.526477 0.422742,0.951172 0.949219,0.951172 H 27.125 c 0.526473,0 0.951172,-0.424695 0.951172,-0.951172 v -0.398437 c 0,-0.526474 -0.424699,-0.951172 -0.951172,-0.951172 H 23.873047 V 30.814453 C 27.366695,30.178003 30,27.138035 30,23.455078 v -2.33789 h -1.615234 v 1.925781 c 0,3.251225 -2.615963,5.871094 -5.867188,5.871093 -3.251226,0 -5.86914,-2.619868 -5.86914,-5.871093 v -1.925781 z"/>

         <!--Playlist-->
        <path v-else-if="icon==='playlist'" fill="var(--iconForeColor)" 
        d="m 34.314453,9.4023438 c -0.02549,-0.015753 -0.444935,0.0653 -0.933594,0.1796874 -5.039664,1.1797048 -9.523107,2.1805768 -14.65039,3.4023438 -0.125071,5.076479 -0.07264,10.569095 -0.263673,15.951172 -0.01197,0 -0.118313,-0.06553 -0.236328,-0.146485 -1.247027,-0.855294 -3.08343,-1.051706 -4.490235,-0.478515 -1.553442,0.632938 -2.688288,1.951218 -3.013672,3.498047 -0.214813,1.021187 0.06266,2.016583 0.775391,2.773437 0.538454,0.571782 1.188982,0.880395 2.046875,0.970703 h 0.002 c 0.583813,0.06123 0.614982,0.06151 1.126953,0.0039 2.141526,-0.240862 3.916072,-1.693437 4.642578,-3.802735 0.336429,-0.976724 0.347001,-1.283617 0.44336,-11.636718 0.01951,-2.096974 0.05071,-3.821411 0.06836,-3.832032 4.137998,-0.946014 8.616828,-1.93214 12.96875,-2.908203 0.225884,-0.05124 0.423138,-0.07607 0.4375,-0.05664 0.0035,3.900948 -0.04971,7.950503 -0.134765,12.13086 -0.01004,0.01752 -0.221078,-0.069 -0.46875,-0.191406 -2.637755,-1.303691 -5.869724,-0.241816 -7.240235,2.378906 -0.305892,0.584933 -0.421875,1.009189 -0.421875,1.552734 0,1.403962 0.973859,2.615856 2.333985,2.902344 1.185897,0.249774 2.629475,0.106255 3.849609,-0.382812 1.339521,-0.536916 3.052642,-2.43743 3.070164,-3.636218 0.08967,-6.134484 0.11137,-8.36577 0.11343,-17.117689 0.01285,-0.878676 0.0014,-1.5382841 -0.02539,-1.5546872 z"/>

          <!--More-->
        <path v-else-if="icon==='more'" fill="var(--iconForeColor)" 
        d="M 10.099609 19.792969 C 9.4714519 19.792969 8.9667969 20.299577 8.9667969 20.927734 L 8.9667969 24.072266 C 8.9667969 24.700423 9.4714519 25.207031 10.099609 25.207031 L 13.246094 25.207031 C 13.874251 25.207031 14.378906 24.700423 14.378906 24.072266 L 14.378906 20.927734 C 14.378906 20.299577 13.874251 19.792969 13.246094 19.792969 L 10.099609 19.792969 z M 20.927734 19.792969 C 20.299577 19.792969 19.792969 20.299577 19.792969 20.927734 L 19.792969 24.072266 C 19.792969 24.700423 20.299577 25.207031 20.927734 25.207031 L 24.072266 25.207031 C 24.700423 25.207031 25.207031 24.700423 25.207031 24.072266 L 25.207031 20.927734 C 25.207031 20.299577 24.700423 19.792969 24.072266 19.792969 L 20.927734 19.792969 z M 31.753906 19.792969 C 31.125749 19.792969 30.621094 20.299577 30.621094 20.927734 L 30.621094 24.072266 C 30.621094 24.700423 31.125749 25.207031 31.753906 25.207031 L 34.900391 25.207031 C 35.528548 25.207031 36.033203 24.700423 36.033203 24.072266 L 36.033203 20.927734 C 36.033203 20.299577 35.528548 19.792969 34.900391 19.792969 L 31.753906 19.792969 z"/>

         <!--Replay-->
        <path v-else-if="icon==='replay'" fill="var(--iconForeColor)" 
        d="M 22.5 9.4414062 C 18.8976 9.4414062 15.630998 10.910371 13.265625 13.279297 L 11.833984 11.847656 L 10.134766 18.189453 L 16.476562 16.490234 L 14.941406 14.957031 C 16.871773 13.024287 19.542496 11.830078 22.5 11.830078 C 28.408374 11.830078 33.173828 16.591627 33.173828 22.5 C 33.173828 28.408375 28.408374 33.173828 22.5 33.173828 C 16.591626 33.173828 11.826172 28.408375 11.826172 22.5 L 11.826172 22.496094 L 9.4414062 22.496094 L 9.4414062 22.5 C 9.4414062 29.697704 15.302297 35.558594 22.5 35.558594 C 29.697703 35.558594 35.558594 29.697704 35.558594 22.5 C 35.558594 15.302297 29.697703 9.4414064 22.5 9.4414062 z M 18.140625 16.107422 L 18.140625 28.892578 L 29.164062 22.5 L 18.140625 16.107422 z "/>

        <!--Left-->
        <path v-else-if="icon==='left'" fill="var(--iconForeColor)" 
        d="M 26.251953 9.3964844 A 2.076378 2.076378 0 0 0 26.175781 9.3984375 A 2.076378 2.076378 0 0 0 24.751953 10.054688 L 13.082031 22.5 L 24.751953 34.947266 A 2.076378 2.076378 0 0 0 27.681641 35.042969 A 2.076378 2.076378 0 0 0 27.779297 32.111328 L 18.773438 22.5 L 27.779297 12.888672 A 2.076378 2.076378 0 0 0 27.681641 9.9589844 A 2.076378 2.076378 0 0 0 26.251953 9.3964844 z "/>

        <!--Right-->
        <path v-else-if="icon==='right'" fill="var(--iconForeColor)" 
        d="M 18.658203 9.3984375 A 2.076378 2.076378 0 0 0 17.310547 9.9589844 A 2.076378 2.076378 0 0 0 17.222656 12.888672 L 26.228516 22.5 L 17.222656 32.111328 A 2.076378 2.076378 0 0 0 17.310547 35.042969 A 2.076378 2.076378 0 0 0 20.25 34.947266 L 31.919922 22.5 L 20.25 10.054688 A 2.076378 2.076378 0 0 0 18.779297 9.3984375 A 2.076378 2.076378 0 0 0 18.658203 9.3984375 z "/>

        <!--Home-->
        <path v-else-if="icon==='home'" fill="var(--iconForeColor)" 
        d="M 22.5 8.3007812 L 11.050781 14.701172 L 11.050781 17.382812 L 22.5 10.982422 L 33.949219 17.382812 L 33.949219 14.701172 L 22.5 8.3007812 z M 22.5 12.482422 L 12.322266 18.173828 L 12.322266 30.261719 L 18.806641 30.261719 L 18.806641 21.626953 L 26.193359 21.626953 L 26.193359 30.261719 L 32.677734 30.261719 L 32.677734 18.173828 L 22.5 12.482422 z "/>

        <!--Youporn-->
        <path v-else-if="icon==='youporn'" fill="var(--iconForeColor)" 
        d="M 17.855469 13.371094 C 16.859792 13.371094 15.863288 14.090613 15.863281 15.527344 L 15.863281 20.826172 L 13.332031 20.826172 L 13.332031 15.527344 C 13.332031 12.705389 9.3164062 12.653883 9.3164062 15.527344 L 9.3164062 23.222656 C 9.3164062 23.777091 10.150377 24.673835 11.087891 24.673828 L 15.863281 24.673828 L 15.863281 27.980469 L 14.863281 27.980469 C 12.443928 27.980469 12.443764 31.366814 14.833984 31.390625 C 19.189849 31.408748 19.845703 29.390584 19.845703 27.980469 L 19.845703 15.527344 C 19.845703 14.090613 18.851146 13.371094 17.855469 13.371094 z M 24.416016 13.371094 C 23.246576 13.371094 22.076172 14.090613 22.076172 15.527344 L 22.076172 29.097656 C 22.076172 32.50659 26.753906 32.439076 26.753906 29.097656 L 26.753906 25.994141 C 27.607322 26.650786 28.543336 27.214684 29.619141 27.617188 C 33.981989 26.313347 36.256996 23.364225 36.490234 20.582031 C 36.783601 17.082541 33.982587 13.926554 29.59375 15.527344 C 28.728711 14.792503 27.313733 14.975659 26.753906 15.527344 C 26.753887 14.090617 25.585455 13.371096 24.416016 13.371094 z M 28.251953 19.308594 C 28.821043 19.343101 29.531401 19.810805 29.845703 20.242188 C 30.302879 19.614723 31.594176 18.908545 32.076172 19.574219 C 32.610707 20.312467 32.225829 21.389051 31.646484 21.841797 L 29.845703 23.25 L 28.042969 21.841797 C 27.463617 21.389051 27.078743 20.312467 27.613281 19.574219 C 27.763903 19.366194 27.993294 19.292904 28.251953 19.308594 z "/>

          <!--Ricasco in Buridda-->
        <path v-else fill="var(--iconForeColor)" 
        d="M 22.498047 8.7109375 C 22.242396 8.7109375 21.990933 8.7177829 21.740234 8.734375 L 21.367188 8.765625 C 16.462721 9.2488281 12.654297 12.856284 12.654297 17.910156 C 12.654297 20.895377 13.981393 23.571268 16.080078 25.376953 L 16.150391 25.498047 C 16.150391 25.498047 16.542969 25.90546 16.542969 26.589844 C 16.512733 26.932254 16.518428 29.165293 14.357422 29.142578 C 14.357422 29.142578 12.932154 29.204323 12.388672 28.019531 C 12.388672 28.019531 12.080078 27.365288 12.039062 27.007812 C 12.039062 27.007812 11.742143 25.478978 10.117188 25.482422 C 10.117188 25.482422 8.3967468 25.670049 8.3886719 26.482422 C 8.3886719 26.482422 8.4043234 26.850813 8.78125 26.892578 C 8.9697275 26.913819 9.7695312 26.724609 9.7695312 26.724609 C 10.58158 26.587908 10.796875 27.828125 10.796875 27.828125 C 10.859744 28.377634 11.423828 29.5625 11.423828 29.5625 C 12.258695 31.383469 14.335938 31.482422 14.335938 31.482422 L 14.578125 31.486328 C 14.578125 31.486328 15.677081 31.382039 15.3125 32.083984 C 15.3125 32.083984 14.856854 32.981266 15.3125 33.080078 C 15.766962 33.18084 15.947681 32.78263 16.404297 32.482422 L 16.404297 32.480469 C 16.404297 32.480469 16.605361 32.305961 16.726562 32.511719 C 16.726562 32.511719 16.930313 32.844109 16.494141 33.482422 C 16.221055 33.882421 15.951404 34.479224 14.037109 35.080078 C 14.037109 35.080078 12.777286 35.341986 12.972656 35.837891 C 12.972656 35.837891 12.971455 35.913811 13.28125 36.050781 C 13.516662 36.157893 14.070312 36.25 14.070312 36.25 C 18.519561 36.760648 19.402344 32.082031 19.402344 32.082031 L 19.410156 32.083984 C 19.410156 32.083984 19.684078 30.087155 20.230469 32.181641 C 20.230469 32.181641 20.416016 33.280931 20.416016 33.78125 C 20.416016 34.281459 20.685002 34.779089 21.048828 34.28125 C 21.413949 33.781041 21.780106 33.080877 21.867188 32.181641 C 21.867188 32.181641 22.215614 31.344692 22.5 31.367188 C 22.784387 31.34451 23.132813 32.181641 23.132812 32.181641 C 23.219991 33.080877 23.586051 33.781041 23.951172 34.28125 C 24.314891 34.779089 24.583984 34.281459 24.583984 33.78125 C 24.583984 33.280931 24.769531 32.181641 24.769531 32.181641 C 25.316028 30.087155 25.589844 32.083984 25.589844 32.083984 L 25.597656 32.082031 C 25.597656 32.082031 26.480221 36.760648 30.929688 36.25 C 30.929688 36.25 31.483229 36.157893 31.71875 36.050781 C 32.028558 35.913887 32.027344 35.837891 32.027344 35.837891 C 32.222821 35.341986 30.962891 35.080078 30.962891 35.080078 C 29.048488 34.479224 28.77884 33.882421 28.505859 33.482422 C 28.069695 32.844109 28.273438 32.511719 28.273438 32.511719 C 28.394435 32.305999 28.595703 32.480469 28.595703 32.480469 L 28.595703 32.482422 C 29.052104 32.78263 29.233038 33.180833 29.6875 33.080078 C 30.143258 32.981281 29.6875 32.083984 29.6875 32.083984 C 29.322927 31.382054 30.421875 31.486328 30.421875 31.486328 L 30.664062 31.482422 C 30.664062 31.482422 32.739351 31.383488 33.574219 29.5625 C 33.574219 29.5625 34.140264 28.377634 34.203125 27.828125 C 34.203125 27.828125 34.418313 26.587905 35.230469 26.724609 C 35.230469 26.724609 36.030378 26.913804 36.21875 26.892578 C 36.59572 26.850803 36.611328 26.482422 36.611328 26.482422 C 36.603013 25.670052 34.882812 25.482422 34.882812 25.482422 C 33.257858 25.479053 32.958984 27.007813 32.958984 27.007812 C 32.918317 27.365288 32.611328 28.019531 32.611328 28.019531 C 32.067738 29.204342 30.642578 29.142578 30.642578 29.142578 C 28.481675 29.165255 28.487279 26.932252 28.457031 26.589844 C 28.457031 25.90546 28.849609 25.498047 28.849609 25.498047 L 28.914062 25.376953 C 31.01404 23.571053 32.34375 20.896346 32.34375 17.910156 C 32.34375 17.483573 32.318085 17.066949 32.265625 16.662109 L 32.232422 16.439453 C 31.516001 11.806568 27.43093 8.7109375 22.498047 8.7109375 z M 17 15.554688 C 17.805482 15.554688 18.458984 16.208193 18.458984 17.013672 C 18.458984 17.819153 17.805482 18.470703 17 18.470703 C 16.194627 18.470703 15.541016 17.819153 15.541016 17.013672 C 15.541016 16.208193 16.194627 15.554688 17 15.554688 z M 27.988281 15.554688 C 28.793652 15.554688 29.447266 16.208193 29.447266 17.013672 C 29.447266 17.819153 28.793652 18.470703 27.988281 18.470703 C 27.182908 18.470703 26.529297 17.819153 26.529297 17.013672 C 26.529297 16.208193 27.182908 15.554688 27.988281 15.554688 z M 22.5 19.017578 C 23.816454 19.017578 24.882813 20.083934 24.882812 21.400391 C 24.882812 22.716844 23.816454 23.785156 22.5 23.785156 C 21.183437 23.785156 20.115234 22.716844 20.115234 21.400391 C 20.115234 20.083934 21.183437 19.017578 22.5 19.017578 z M 22.498047 20.115234 C 21.788259 20.115234 21.214844 20.69082 21.214844 21.400391 C 21.214844 22.110179 21.788259 22.685547 22.498047 22.685547 C 23.207833 22.685547 23.783203 22.110179 23.783203 21.400391 C 23.783203 20.69082 23.207833 20.115234 22.498047 20.115234 z "/>
    </svg>
</template>

<script>
export default {
    props: {
        icon: {
            type: String,
            default: "link"
        },
        outline: {
            type: Boolean,
            default: true
        },
        background: {
            type: Boolean,
            default: true
        }
    }
    
};
</script>