/*--------------------------------------------raw Black*/
/*
:root {
  --bgColor: #222222;
  --alternatebgColor: #303030;
  --playerbgColor: #505050;
  --textColor: #dddddd;
  --alternateTextColor: #bbbbbb;
  --blankSideColor: #606060;
  --showInfoPadding: 0.1rem;
  --iconForeColor: #cccccc;
  --iconBgColor: #4e4e4e;
  --headerLogoColor: #cccccc;
}
*/

/*--------------------------------------------2070Sarti*/
/*
:root {
  --bgColor: #222222;
  --alternatebgColor: #303030;
  --playerbgColor: #101010;
  --textColor: #00f500;
  --alternateTextColor: #00a300;
  --blankSideColor: #606060;
  --showInfoPadding: 0.1rem;
  --iconForeColor: #00f500;
  --iconBgColor: #000000;
  --headerLogoColor: #00a300;
}
*/
/*---------------------------------------------autumn*/
/*
:root {
  --bgColor: #721817;
  --alternatebgColor: #801b19;
  --playerbgColor: #ac4f37;
  --textColor: #fdcdb1;
  --alternateTextColor: #b3a68e;
  --blankSideColor: #606060;
  --showInfoPadding: 0.1rem;
  --iconForeColor: #fdcdb1;
  --iconBgColor: #c94442;
  --headerLogoColor: #be583e;
}
*/
/*----------------------------------------------eInk*/
/*
:root {
  --bgColor: #eeeded;
  --alternatebgColor: #e0dfdf;
  --playerbgColor: #b6b6b6;
  --textColor: #414141;
  --alternateTextColor: #6d6d6d;
  --blankSideColor: #606060;
  --showInfoPadding: 0.1rem;
  --iconForeColor: #575757;
  --iconBgColor: #e0e0e0;
  --headerLogoColor: #a7a7a7;
}
*/
/*----------------------------------------------indigo*/
/*
:root {
  --bgColor: #174e8c;
  --alternatebgColor: #134074;
  --playerbgColor: #1d61af;
  --textColor: #ccdddd;
  --alternateTextColor: #ccdddd;
  --blankSideColor: #606060;
  --showInfoPadding: 0.1rem;
  --iconForeColor: #a7caf1;
  --iconBgColor: #174e8c;
  --headerLogoColor: #2275d3;
}
*/
/*----------------------------------------------dildo*/
/*
:root {
  --bgColor: #a2536f;
  --alternatebgColor: #ac5d79;
  --playerbgColor: #944c65;
  --textColor: #ccdddd;
  --alternateTextColor: #f0e2e7;
  --blankSideColor: #606060;
  --showInfoPadding: 0.1rem;
  --iconForeColor: #f0e2e7;
  --iconBgColor: #944c65;
  --headerLogoColor: #f0e2e7;
}
*/
/*----------------------------------------------pistacchio*/

:root {
  --bgColor: #dbd8ae;
  --alternatebgColor: #ccc88e;
  --playerbgColor: #b9b464;
  --textColor: #48483a;
  --alternateTextColor: #48483a;
  --blankSideColor: #606060;
  --showInfoPadding: 0.1rem;
  --iconForeColor: #48483a;
  --iconBgColor: #ccc88e;
  --headerLogoColor: #48483a;
}

/* the BIG Container*/
html,
body {
  background: var(--blankSideColor);
  font-family: dm sans, system-ui, sans-serif;
  color: var(--textColor);
  margin: 0;
  height: 100%;
}
a {
  padding: 100;
  text-decoration: none;
  color: var(--textColor);
}
.rgLogo {
  max-width: max-content;
  width: 100%;
  height: auto;
}

.mainBox {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  margin: 0px;
  padding: 0px;
}
header {
  flex-shrink: 0;
  flex-grow: 0;
}

.mainWrapper {
  background: var(--bgColor);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.listContainer {
  margin: 0;
  padding: 0;
  background: var(--bgColor);
}

footer {
  flex-shrink: 0;
}

.header1 {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 0;
  margin: 0;
  background: var(--alternatebgColor);
}

.header2 {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 0;
  margin: 0;
  background: var(--bgColor);
  text-align: center;
}

.roundButton {
  display: grid;
  place-items: center;
  margin: 0.3rem;
  margin: 0;
  padding: 0.5rem;
}

.emptyButton {
  padding: 2rem;
  margin: 0;
}

.headerContent {
  display: grid;
  place-items: center;
  margin: 0.3rem;
  margin: 0;
  padding: 0.5rem;
}

.livePage {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background: #555555;
}

.stationPicture {
  padding: 0;
  text-align: center;
  background-color: #666666;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-grow: 1;
}

.loadingContainer {
  height: 100%;
  display: flex;
  flex-direction: row;
  place-items: center;
}
.loading {
  background: var(--bgColor);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  place-items: center;
}

.loader {
  border: 35px solid var(--alternatebgColor);
  border-top: 35px solid var(--playerbgColor);
  border-radius: 50%;
  width: 180px;
  height: 180px;
  animation: spin 2s linear infinite;
}

.loaderText {
  font-weight: 800;
  padding: 2rem;
  color: var(--playerbgColor);
  text-align: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.imageShadowsContainer {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.topShadow {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(var(--bgColor), #00000000);
  background-size: cover;
  flex: 1;
}

.middleSpacer {
  color: #00000000;
  flex: 3;
}

.bottomShadow {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(#00000000, var(--bgColor));
  background-size: cover;
  flex: 1;
}

.bottomSlot {
  background: var(--bgColor);
  text-align: justify;
  padding: 0;
}

.podcastPage {
  display: grid;
  grid-template-rows: auto 1fr;
  background: var(--bgColor);
}

.listContainer {
  margin: 0;
  padding: 0;
  background: var(--bgColor);
}

.simpleContainer {
  border-radius: 15px;
  display: grid;
  margin: 0.5rem;
  padding: 0;
  grid-template-columns: auto 1fr auto;
  background: var(--alternatebgColor);
}

.iconContainer {
  border-radius: 15px;
  display: grid;
  margin: 0.5rem;
  padding: 0;
  grid-template-columns: auto 1fr;
  background: var(--alternatebgColor);
}

.podcastData {
  display: grid;
  margin: 0.3rem;
}

.playerWrapper {
  background: var(--alternatebgColor);
  text-align: center;
}

.showTitle {
  padding: var(--showInfoPadding);
  margin: 0;
  font-size: 5vw;
  font-weight: 500;
}

.podcastTitle {
  padding: var(--showInfoPadding);
  margin: 0;
  font-size: 4vw;
  font-weight: 500;
}

.timeSlot {
  color: var(--alternateTextColor);
  padding: var(--showInfoPadding);
  margin: 0;
  font-size: 3.2vw;
}
.showDescription {
  padding: var(--showInfoPadding);
  margin: 0;
  font-size: 3.2vw;
}

.showLongDescription {
  padding: 1rem;
  margin: 0;
  font-size: 3.2vw;
}

.bottomShadowIcons {
  padding: 0.6rem;
}
/*station page blocks*/

.player-wrapper {
  align-items: center;
  background-color: var(--playerbgColor);
  display: flex;
  flex-direction: column;
}

.player-details {
  background-color: var(--playerbgColor);
  width: 100%;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.player-details-live {
  background-color: var(--playerbgColor);
  width: 100%;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  display: flex;
  flex-direction: column;
}

.player-extra-controls {
  background-color: var(--playerbgColor);
  display: flex;
  justify-items: center;
}

.player {
  background-color: var(--playerbgColor);
  color: var(--textColor);
  display: flex;
  flex: 2;
  justify-items: center;
  width: 100%;
}

.player-controls {
  display: flex;
  justify-items: center;
  flex-grow: 1;
}

.player-button {
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-core {
  padding-top: 5px;
  padding-bottom: 5px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.player-text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player-controls > div a {
  color: #bbbbbb;
  display: block;
  line-height: 0;
  padding: 0.5rem;
  text-decoration: none;
}

.player-progress {
  /*background-color: var(--alternatebgColor);*/

  border: var(--bgColor);
  border-style: solid;
  border-width: 1px;
  /*background-color: var(--alternatebgColor);
  opacity: 1;*/
  cursor: pointer;
  height: 0.4rem;
  min-width: 160px;
  position: relative;
}

.player-progress .player-seeker {
  background-color: var(--iconForeColor);
  opacity: 0.75;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  flex-grow: 1;
}

.player-progress .player-loaded {
  background-color: var(--iconForeColor);
  opacity: 0.3;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
  flex-grow: 1;
}

.player-time {
  display: flex;
  justify-content: space-between;
}

.player-time .player-time-current {
  font-size: 0.8rem;
  padding-top: 2px;
}

.player-time .player-time-total {
  font-size: 0.8rem;
  padding-top: 2px;
}

/*Resize for desktop*/

@media only screen and (min-width: 1030px) {
  .showTitle {
    font-size: 1.6vw;
  }

  .timeSlot {
    margin-top: 0.5rem;
    font-size: 2.2vw;
  }

  .showDescription {
    margin-bottom: 0.5rem;
    font-size: 1vw;
  }

  .showLongDescription {
    margin-bottom: 0.5rem;
    font-size: 1vw;
  }

  body {
    padding-left: 20%;
    padding-right: 20%;
  }
  .podcastTitle {
    font-size: 1.6vw;
  }
  .timeSlot {
    font-size: 1.2vw;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    padding-left: 30%;
    padding-right: 30%;
  }
}
